services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: eventapp-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
    networks:
      - event-net

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: eventapp-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - event-net

  db:
    image: mysql:8.0
    container_name: eventapp-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: CUII@123456
      MYSQL_DATABASE: eventdb
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - event-net

volumes:
  db_data:

networks:
  event-net:
